[Desktop Entry]
Type=Application
Name=ArchIToken-VPN Tray
Name[zh_CN]=ArchIToken-VPN 托盘
Comment=ArchIToken-VPN Xray 代理状态托盘图标
Exec=/usr/bin/python3 ${HOME}/.local/share/architoken-vpn/tray.py
Icon=network-vpn
Terminal=false
Categories=Network;
StartupNotify=false
X-GNOME-Autostart-enabled=true
Hidden=false
